.form-input,
.form-input:focus-visible {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid gainsboro;
  outline: none;
}

.form-label {
  text-align: left;
  font-weight: 600;
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
}

.submit-btn {
  font-weight: 600;
  margin-top: 20px;
  width: 130px;
  padding: 0.5rem;
  background-color: rgb(107, 50, 160);
  color: white;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(164, 67, 255);
  box-shadow: 0px 15px 20px rgba(71, 35, 104, 0.4);
  color: #fff;
  transform: translateY(-6px);
}

.submit-btn:active {
  background-color: rgb(118, 56, 177);
  box-shadow: 0px 15px 20px rgba(71, 35, 104, 0.4);
  color: #fff;
  transform: translateY(-5px);
}

.user-form {
  display: flex;
  flex-direction: column;
}
